</head>

<body>
    <div class="pure-g headfoot" id="header">
        <div class="pure-u-1-3 cell">
            <a href="/"><i class="fa fa-braille"></i></a>
        </div>
        <div class="pure-u-1-3 cell">
            <a href="/">crushist</div></a>
        <div class="pure-u-1-3 cell">
            <a href="/"><i class="fa fa-circle-o-notch"></i></a>
        </div>
    </div>

    <div id="content">

        <div id="helper">
            Hey There! Looks like this is the first time you've been to a crushist event, so here's some tips!<hr>
            <p>You can search YouTube videos with the search bar, and add them into the playlist.</p>
            <p>Press the top of a video entry to upvote, and press the bottom to downvote. Pressing again will take away the vote.</p>
            <p>The videos will play in the host's browser, and what's playing will be shown in the "Now Playing" entry in the guest's browser. If you're the host, just start the YouTube player to begin the party!</p>
            <button id="helperButton" class="creator-button pure-button">
                Start!
            </button>
        </div>