{% for song in playlist.song_set.all|dictsortreversed:"votes" %}
    
    <div class="songimg" style="background-image: url({{ song.thumbnail_url }})">
        <div class="pure-g song id="song{{ song.id }}">
            <div class="pure-u-3-4 songTitle">
                {{ song.title }}
            </div>
    
            <div class="pure-u-1-8 votes"  id="song{{ song.id }}votes">
                {{ song.votes }}
            </div>
    
            <div class="pure-u-1-8">
                <div class="pure-u-1-1 arrows">
                    <i class="fa fa-arrow-up fa-lg arrow" id="song{{ song.id }}up" onclick="vote({{ song.id }}, 1)"></i>
                </div>
                <div class="pure-u-1-1 arrows">
                    <i class="fa fa-arrow-down fa-lg arrow" id="song{{ song.id }}down" onclick="vote({{ song.id }}, -1)"></i>
                </div>
            </div>
        </div>
    </div>
{% endfor %} 