{% for song in playlist.song_set.all|dictsortreversed:"votes" %}
    <div class="songimg" style="background-image: url(https://i.ytimg.com/vi/{{ song.yt_url }}/hqdefault.jpg);">
        <div class="upVote arrow" onclick="vote({{ song.id }}, 1)"></div>
        <div class="downVote arrow" onclick="vote({{ song.id }}, -1)"></div>
        <div class="song" id="song{{ song.id }}">
            <div class="songTitle">{{ song.title }}</div>
            <div class="songChannel">{{ song.channel }}</div>
        </div>
        <div class="votes" id="song{{ song.id }}votes">{{ song.votes }}</div>
    </div>
{% endfor %}