{% load static %}
{% include "player_crushist/partials/head.html" %}
    <link rel="stylesheet" href="{% static 'player_crushist/style.css' %}" />
    <title>Crushist Event</title>
{% include "player_crushist/partials/header.html" %}

    {% if playlist %}
        <h1>{{ playlist.event_name }}</h1>
        <div id="ytplayer"></div>

        <div id="buttons" style="padding: 3px; margin-top: 10px;">
            <label> <input id="query" type="text"/><button id="search-button" onclick="searchListByKeyword()">Search</button></label>
            <div id="search-container"></div>
        </div>
        <div id="search-results" style="border-style: solid"></div>
        <div class="playlist">
            <hr>
            {% for song in playlist.song_set.all %}
                {% include "player_crushist/partials/song.html" %}
            {% endfor %} 
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    {% include "player_crushist/partials/footer.html" %}
    <script src="https://apis.google.com/js/api.js?onload=googleApiClientReady"></script>
    <script src="{% static 'player_crushist/script.js' %}"></script>
</body></html>