{% load static %}
{% include "player_crushist/partials/head.html" %}
    <link rel="stylesheet" href="{% static 'player_crushist/style.css' %}" />
    <title>crushist</title>
{% include "player_crushist/partials/header.html" %}

    <div id="welcome">Hey There,</div>
    <div id="tagline">This is my Crowd-Sourced JukeBox.</div>
    <div id="helptext">If you create an event, you can share the join code with your friends to start making democratic playlists in real-time, and play them right in the event host's browser.</div>
    <div class="pure-form pure-form-aligned input" id="joiner">
        <legend>Join Event</legend>
        <input class="text" id="joincode" placeholder="Code">
        <div><button class="pure-button pure-button-primary" onclick="join()">
            Join
        </button></div>
    </div>
    <div class="pure-form input">
        <legend>Create Event</legend>
         <button class="creator-button pure-button" onclick="newEvent()">
            Create An Event
        </button>
    </div>

{% include "player_crushist/partials/footer.html" %}
    <script src="{% static 'player_crushist/nav.js' %}"></script>
</body></html>