{% load static %}
{% include "player_crushist/partials/head.html" %}
    <link rel="stylesheet" href="{% static 'player_crushist/style.css' %}" />
    <title>Crushist Event</title>
{# {% include "player_crushist/partials/header.html" %} #}
</head>

<body>

    <div class="hf" id="header">this is a header for event {{ playlist.id }}</div>


    <div id="content">
        Content that may or may not be there
    </div>


    <div class="hf" id="footer">this is a footer</div>


    {% include "player_crushist/partials/footer.html" %}
    <script src="{% static 'player_crushist/script.js' %}"></script>
</body></html>