html, body {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

a {
    color: white;
    text-decoration: none;
}

#eventtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    padding: 3% 0 2% 0;
}

.headfoot {
    background-color: indigo;
    color:  #FFFFFF;
    height: 5%;
    min-height: 2em;
    width: 100%;
    text-align: center;
}

.cell {
    margin: auto 0;
}

#content {
    width: 90%;
    max-width: 640px;
    min-height: 90%;
    margin: 0 auto;
    text-align: center;
}

#query {
    width: 100%;
    margin: 7px 0px 7px 0px;
}

#welcome {
    font-size: 1.65em;
    padding-top: 1em;    
}

#tagline {
    font-size: 1.15em;
}

#helptext {
    font-weight: 400;
    color: slategrey;
}

.input {
    padding-top: 3em;
}

.text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25em;
    text-align: center;
}

.creator-button {
    color: white;
    border-radius: 4px;
    background: rgb(28, 184, 65);
}

#search-results {
    position: absolute;
    width: 90%;
    background-color: darken(#fff, 5%);
    border-radius: 3px;
    z-index: 100;
}

.songadder {
    background-color: white;
    margin: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
}

.songadder:hover {
    cursor: pointer;
    background-color: lightgray;;
}

.playlist {
    padding-bottom: 10px;
}

.songimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 6em;
    position: relative;
}

.votes {
    font-size: 5em;
    font-weight: bold;
    margin: auto;
    z-index: 500;
}

.song {
    position: absolute;
    left: 3%;
    top: .5em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 5em;
    width: 94%;
}

.songTitle {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: .2em;
    min-height: 2.2em;
    overflow: hidden;
}

.songInfo {
    margin-bottom: .4em;
}

.arrows {
    height: 50%;
    color:  orchid;
    font-size: 1.6em;
}

.arrow {
    cursor: pointer;
}