html, body {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

a {
    color: white;
    text-decoration: none;
}

#eventtitle {
    font-size: 1.5em;
    padding-top: .5em;
}

.headfoot {
    background-color: indigo;
    color:  #FFFFFF;
    height: 5%;
    min-height: 2em;
    width: 100%;
    text-align: center;
}

.cell {
    margin: auto 0;
}

#content {
    width: 90%;
    max-width: 640px;
    min-height: 90%;
    margin: 0 auto;
    text-align: center;
}

#query {
    width: 100%;
    margin: 7px 0px 0px 0px;
}

#welcome {
    font-size: 1.65em;
    padding-top: 1em;
}

#tagline {
    font-size: 1.15em;
}

#helptext {
    font-weight: 400;
    color: slategrey;
    padding-bottom: .5em;
}

.input {
    padding-top: 3em;
}

.text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25em;
    text-align: center;
}

.creator-button {
    color: white;
    border-radius: 4px;
    background: rgb(28, 184, 65);
}

#search-results {
    width: 90%;
    position: absolute;
    max-width: 640px;
    border-radius: 3px;
    z-index: 75;
}

.songadder {
    background-color: white;
    margin: 0 5px 3px 5px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
}

.songadder:hover {
    cursor: pointer;
    background-color: lightgray;
}

.playlist {
    padding-bottom: 10px;
    padding-top: 7px;
}

.songimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.votes {
    font-size: 7em;
    font-weight: bold;
    color: violet;
    line-height: 1.25;
}

.song {
    position: absolute;
    left: 3%;
    top: .75em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 7.25em;
    width: 94%;
}

.arrow {
    cursor: pointer;
    position: absolute;
    z-index: 50;
    left: 3%;
    height: 3.625em;
    width: 94%;
}

.upVote {
    top: .75em;
}

.downVote {
    top: 4.375em;
}

.songTitle {
    padding: 0.25em 0.25em 0 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
    font-size: 1.5em;
    height: 3em;
    overflow: hidden;
    line-height: 1;
}

.songChannel {
    padding: 0.25em;
}
