html, body {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #000000;
    margin: 0;
    padding: 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

a {
    color: white;
    text-decoration: none;
}

#eventtitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:  white;
    padding: 3% 0 2% 0;
}

.headfoot {
    background-color: indigo;
    color:  #FFFFFF;
    height: 2em;
    width: 100%;
    text-align: center;
}

.cell {
    margin: auto 0;
}

#content {
    width: 90%;
    max-width: 640px;
    height: 90%;
    margin: 0 auto 0 auto;
}

#query {
    width: 100%;
    margin-bottom: 0px;
}

#welcome {
    font-size: 2em;
    padding-top: 5%;    
}

.input {
    padding-top: 10%;
}

.creator-button {
    color: white;
    margin-top: 5%;
    border-radius: 4px;
    background: rgb(28, 184, 65);
}

#search-results {
    position: absolute;
    background-color: white;
    width: 90%;
    background-color: darken(#fff, 5%);
    border-radius: 3px;
    z-index: 100;
}

.songadder {
    margin: 2px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
}

.songadder:hover {
    cursor: pointer;
    background-color: lightgray;;
}

.playlist {
    margin-top: 5px;
}
.songimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1% 1%;
}

.song {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    overflow: hidden;
    height: 4em;
    line-height: 1.1em;
}

.votes {
    text-align: right;
    font-size: 2em;
    margin: auto 0 auto 0;
}

.songTitle {
    font-size: 1.1em;
    margin: auto 0;
}

.arrows {
    height: 50%;
    color:  plum;
    opacity: .5;
}

.arrow {
    cursor: pointer;
}